/.devcontainer     export-ignore
/.github           export-ignore
/tests             export-ignore
.dockerignore
.editorconfig      export-ignore
.gitattributes     export-ignore
.gitignore         export-ignore
phpstan.neon       export-ignore
phpunit.xml        export-ignore
pint.json          export-ignore
CHANGELOG.md       export-ignore
